<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{LABEL}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON_EXECUTABLE}}</string>
        <string>{{WATCHER_SCRIPT}}</string>
        <string>--interval</string>
        <string>{{INTERVAL}}</string>
        <string>--debounce</string>
        <string>{{DEBOUNCE}}</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{REPO_DIR}}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>2</integer>

    <key>StandardOutPath</key>
    <string>{{STDOUT_PATH}}</string>

    <key>StandardErrorPath</key>
    <string>{{STDERR_PATH}}</string>

    <key>ProcessType</key>
    <string>Background</string>

    <key>LowPriorityIO</key>
    <true/>

    <key>Nice</key>
    <integer>1</integer>
</dict>
</plist>
